<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>글목록</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/js/board.js"></script>
	<script>
		totalCount = "[[${page.totalCount}]]"
		keyword = "[[${page.keyword}]]"
		pageCount = "[[${page.pageCount}]]"
		rowsPerPage = "[[${page.rowsPerPage}]]"
	</script>
	
</head>   
	<h1>게시글 목록</h1>
	
	<form action="/board/list" method="get">
		<a href="/board/insert">글쓰기</a>
		<input type="text" name="keyword" th:value="${page.keyword}" />
		<input type="submit" value="검색" />
		
		<select name="rowsPerPage" id="rowsPerPage">
			<option value="5">5줄 보기</option>
			<option value="10">10줄 보기</option>
			<option value="15">15줄 보기</option>
			<option value="20">20줄 보기</option>
			<option value="25">25줄 보기</option>
		</select>
		
		<select name="pageCount" id="pageCount">
			<option value="5">5페이지 보기</option>
			<option value="10">10페이지 보기</option>
			<option value="20">20페이지 보기</option>
		</select>
		
	</form>
	
	<div>
		<span th:text="|${page.totalCount}건의 게시글이 조회되었습니다.|"></span>
		<span th:text="|(${page.searchTime / 1000.0 }초)|"></span>
	</div>
	
	<table border="1">
		<thead>
			<tr>
				<th width="80">글번호</th>
				<th width="320">제목</th>
				<th width="100">작성자</th>
				<th width="200">등록일자</th>
				<th width="200">수정일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each=" board : ${list}">
				<td align="center" th:text="${board.boardNo}"></td>
				<td align="left">
					<a th:href="|/board/read?boardNo=${board.boardNo}|"
					   th:text="${board.title}"></a>
				</td>
				<td align="center" th:text="${board.writer}"></td>
				<td align="center" th:text="${ #dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss') }"></td>
				<td align="center" th:text="${ #dates.format(board.updDate, 'yyyy-MM-dd HH:mm:ss') }"></td>
			</tr>
		</tbody>
	</table>
	
	<!-- 페이지 네이션 -->
	<div th:object="${page}" class="paging">
		
		<a th:href="|/board/list?pageNum=*{firstPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="first">[처음]</a>
		<th:block th:if="${page.prev > 0 }">
			<a th:href="|/board/list?pageNum=*{prev}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="prev">[이전]</a>
		</th:block>
		
		<th:block th:each="no : ${#numbers.sequence(page.startPage, page.endPage)}">
			<th:block th:if="${no == page.pageNum}">
				<b>
					<a th:href="|/board/list?pageNum=${no}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="" th:text="${no}"></a>
				</b>
			</th:block>
			<th:block th:unless="${no == page.pageNum}">
				<a th:href="|/board/list?pageNum=${no}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="" th:text="${no}"></a>
			</th:block>
		</th:block>
		
		<th:block th:if="${page.next <= page.lastPage }">
			<a th:href="|/board/list?pageNum=*{next}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="next">[다음]</a>
		</th:block>
		<a th:href="|/board/list?pageNum=*{lastPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="last">[끝]</a>
	
	</div>
	
	
</body>
</html>





